@media only screen and (max-width: 1280px)  {

    form {
        width: 60% !important;
    }

}

@media only screen and (max-height: 650px)  {

    .style {
        margin: 0;
    }

    .img-logo {
        margin-top: 2.8rem !important;
        margin-bottom: 2rem !important;
    }

    div form h2 {
        margin-bottom: 0.5rem;
        font-size: 0.85rem;
        line-height: 1rem;
    }

    form p{
        margin-bottom: 1.5rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    input {
        height: 2.8rem !important;
    }

    button {
        font-size: 0.85rem;
        height: 2.8rem !important;
    }

}