<div class="w-full text-gray-900 flex items-center relative">
    <input maxlength="9" [class]="(isSmallSize? 'text-[0.8rem]' : 'text-sm') + ' w-full pl-20 pr-5 py-2 bg-gray-100 border border-gray-300 rounded-lg focus:outline-none focus:ring-indigo-200 focus:border-indigo-200'" type="text" placeholder="{{placeHolder}}" [(ngModel)]="messageValue">
    <span class="flex items-center text-sm font-semibold bg-gray-200 border border-gray-300 absolute left-0 h-full px-4 rounded-l-lg">+244</span>
</div>
