<div class="card min-h-min">
  <ng-container *ngIf="arquivos.length">
    <table class="border-t-0">
        <thead>
            <th>Arquivo</th>
            <th>Data de Inclusão</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let item of arquivos">
                <td>{{item.nome}}</td>
                <td>{{item.dataInclusao | dateCreatePipe}}</td>
                <td>
                    <div class="flex justify-center text-base">
                        <a (click)="downloadArquivo(item.id)" class="flex items-center justify-center text-accent bg-[#F9F9F9] w-8 h-8 ml-4 border-[1.5px] border-solid border-[#E3E3E3] rounded-lg cursor-pointer">
                            <i *ngIf="!loading" class="p-0 icon-password-show font-semibold text-sm"></i>

                            <svg *ngIf="loading" xmlns="http://www.w3.org/2000/svg" class="animate-spin h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                            </svg>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination px-5 py-5">
      <app-pagination
        [paginationData]="paginationData"
        (pageNumberEvent)="goToPageNumber($event)" >
      </app-pagination>
    </div>
  </ng-container>

  <app-content-message *ngIf="!(arquivos.length)" [option]="1" class="py-12 px-5"></app-content-message>
</div>
